<!--
https://www.google.com/recaptcha/admin/site/442632580/setup
-->
<html>
  <head>
    <title>reCAPTCHA demo: Explicit render after an onload callback</title>
    <script type="text/javascript">
      var onloadCallback = function() {
        grecaptcha.render('html_element', {
          'sitekey' : '6LeECWIaAAAAAHAY4N0hxyT5VGMQs8COhrz_stkh'
        });
      };
    </script>
  </head>
  <body>
    <form action="?" method="POST">
      <div id="html_element"></div>
      <br>
      <input type="submit" value="Submit">
    </form>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
    </script>
  </body>
</html>
<!--
<html>
  <head>
    <title>reCAPTCHA demo: Simple page</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  </head>
  <body>
    <form action="?" method="POST">
      <div class="g-recaptcha" data-sitekey="6LeECWIaAAAAAHAY4N0hxyT5VGMQs8COhrz_stkh"></div>
      <br/>
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
-->