{% extends '_MainLayout.html' %}

{% block content %}
<section class="mb-4">
  <p class="text-center w-responsive mx-auto mb-5">¿Probando captch?</p>

  <form action="?" method="POST">
        <div id="g-recaptcha" name="g-recaptcha" class="g-recaptcha" data-sitekey="6LeECWIaAAAAAHAY4N0hxyT5VGMQs8COhrz_stkh"></div>
        <br/>
        <div class="text-center text-md-left">
            <input class="btn btn-primary" type="submit" value="Enviar">
        </div>
  </form>
</section>
{% endblock %}