{% extends '_MainLayout.html' %}

{% block content %}
<!--Section: Contact v.2-->
<section class="mb-4">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contáctanos</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">¿Tiene usted alguna pregunta? No dude en contactarnos directamente. Nuestro equipo se pondrá en contacto contigo tan pronto como sea posible.</p>

    <div class="row">
        <div class="col-md-9 mb-md-0 mb-5">
            <!--Google map-->
            <div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 500px width: 900px">
                <iframe width="1110" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Calle 11 541, Residencial Pensiones IV, 97217 Residencial Pensiones 4ª Etapa, Yuc., Mexico=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen>
                </iframe>
            </div>
            <!--Google Maps-->
        </div>
    </div>
    <div class="row">

        <!--Grid column-->
        <div class="col-md-9 mb-md-0 mb-5">
            <form action="" method="POST">
                {% csrf_token %}
                <!--Grid row-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <select id="motivo" name="motivo" class="browser-default custom-select">
                              <option value="Cotizar un viaje" selected>Cotizar un viaje</option>
                              <option value="Solicitar informes de mi reservación">Solicitar informes de mi reservación</option>
                              <option value="Más información de una noticia">Solicitar más información de una noticia</option>
                              <option value="Informar problemas con el sitio">Informar problemas con el sitio</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <!--Grid row-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="nombre" name="nombre" class="form-control" required>
                            <label for="nombre" class="">Tu nombre completo</label>
                        </div>
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="email" name="email" class="form-control" required>
                            <label for="email" class="">Tu correo electrónico</label>
                        </div>
                    </div>
                    <!--Grid column-->

                </div>
                <!--Grid row-->

                <!--Grid column-->
                <div class="row">
                    <div class="col-md-6">
                        <div class="md-form mb-0">
                            <input type="text" id="telefono" name="telefono" class="form-control" required>
                            <label for="telefono" class="">Número celular</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <!--Grid column-->

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12">

                        <div class="md-form">
                            <textarea type="text" id="mensaje" name="mensaje" rows="2" class="form-control md-textarea" required></textarea>
                            <label for="mensaje">Escribe tu mensaje</label>
                        </div>

                    </div>
                </div>

                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="g-recaptcha" data-sitekey="6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI"></div>
                <br/>
                <div class="text-center text-md-left">
                    <input class="btn btn-primary" type="submit" value="Enviar">
                </div>
                <div class="status"></div>

                <div class="status"></div>

            </form>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Agencia Meriland, C11 #541 x 66 y 64 Residencial Pensiones IV Etapa C.P. 97217 MEXICO</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>+ 52 (999) 242-62-17</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>info@meriland.mx</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>
<!--Section: Contact v.2-->
{% endblock %}
