{% extends '_MainLayout.html' %}

{% block title %}
Donde estamos
{% endblock %}

{% block content %}

<!--Google map-->
<div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 500px width: 900px">
    <iframe width="1110" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Calle 11 541, Residencial Pensiones IV, 97217 Residencial Pensiones 4ª Etapa, Yuc., Mexico=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" allowfullscreen>
    </iframe>
</div>

<!--Google Maps-->

{% endblock %}