{% extends '_MainLayout.html' %}

{% block title %}
  Bienvenido a Meriland!
{% endblock %}

{% block content %}
<div class="container mt-5">

  <!--Section: Content-->
  <section class="">

    <!-- Section heading -->
    <h3 class="text-center font-weight-bold mb-5">Últimas noticias</h3>

  	<!-- Grid row -->
    <div class="row">

      {% for post in posts %}
      <!-- Grid column -->
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

        <!-- Card -->
        <div class="card hoverable">

          <!-- Card image -->
          <img class="card-img-top" src="/media/{{ post.image }}" alt="Card image cap">

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <a href="#!" class="black-text">{{ post.titulo }}</a>
            <!-- Text -->
            <p class="card-title text-muted font-small mt-3 mb-2">{{ post.resumen }}</p>

            <a class="btn btn-flat text-primary p-0 mx-0" href="/post/{{ post.slug }}" role="button">Más información<i class="fa fa-plane ml-2"></i></a>
          </div>

        </div>
        <!-- Card -->

      </div>
      <!-- Grid column -->
      {% endfor %}

    </div>
    <!-- Grid row -->

    <div class="text-center mt-5">
    	<a href="/todaslasnoticias">Mostrar más noticias</a>
    </div>

  </section>
  <!--Section: Content-->


</div>
{% endblock %}
