{% extends '_MainLayout.html' %}

{% block title %}
Quienes somos
{% endblock %}

{% block content %}
  <div class="container my-5 py-5 z-depth-1">


    <!--Section: Content-->
    <section class="px-md-5 mx-md-5 text-center dark-grey-text">

      <!--Grid row-->
      <div class="row">

        <!--Grid column-->
        <div class="col-md-6 mb-4 mb-md-0">

          <h3 class="font-weight-bold">Agencia de viajes Meriland!</h3>

          <p class="text-muted">
            <h4 class="font-weight">Quienes somos</h4>
            Somos una agencia de viajes y de bienes raíces innovadora. Contamos con los mejores precios de paquetes,
            lugares turísticos, tanto nacionales como extranjeros así como las mejores propiedades en el estado de Yucatán.
            Nuestra principal característica es el trato serio, cuyo objetivo principal es ofrecerle los mejores
            destinos turísticos y a los mejores precios del mercado a través de nuestros agentes.
          </p>

          <p class="text-muted">
            Contamos con los mejores mayoristas de la región e internacionales, con el fin de ofrecerle los mejores precios
            y la mejor experiencia que usted pueda tener en sus próximas vacaciones. También ofrecemos en venta o renta
            propiedades en el estado de Yucatán. Uno de nuestros valores principales, además del servicio al cliente,
            es la innovación. Todo con el propósito de ofrecerle la mejor experiencia en sus próximas vacaciones
            o compra y venta de bienes raíces. Visítenos, estamos para serviles.
          </p>

          <p class="text-muted">
            <h4 class="font-weight">Nuestra visión</h4>
            Superar las expectativas de cada cliente para lograr su confianza, ofreciendo la mejor opción de venta,
            para consolidarnos en el mercado como una agencia rentable
          </p>

          <p class="text-muted">
            <h4 class="font-weight">Nuestra misión</h4>
            Meriland es una empresa conformado por un equipo de colaboradores dedicados a proporcionar asesoría
            especializada, ofreciendo la mejor opción disponible en el mercado y adaptándonos a las necesidades
            y presupuestos de nuestros clientes, sin comprometer la calidad de nuestros servicios.
          </p>

          <p class="text-muted">
            <h4 class="font-weight">Nuestros valores</h4>
            <ul>
                <li> Trabajo en equipo: Somos un equipo que se esfuerza por lograr un mismo objetivo.</li>
                <li> Confianza: Calidad total en nuestros servicios. </li>
                <li> Seguridad: Somos una empresa comprometida con nuestros clientes. </li>
                <li> Innovación: Desarrollos de servicios innovadores para nuestros clientes. </li>
            </ul>
          </p>

          <a class="btn btn-purple btn-md ml-0" href="/contacto" role="button">Contáctanos<i class="fa fa-gem ml-2"></i></a>

          <hr class="my-5">

          <p class="font-weight-bold">Síguenos en nuestras redes sociales:</p>

          <!--Facebook-->
          <a href="https://www.facebook.com/merilandmx" target="_blank" class="mx-1" role="button"><i class="fab fa-facebook-f"></i></a>
          <a href="https://twitter.com/merilandmx" target="_blank" class="mx-1" role="button"><i class="fab fa-twitter"></i></a>
          <a href="https://www.instagram.com/merilandmx/" target="_blank" class="mx-1" role="button"><i class="fab fa-instagram"></i></a>
          <a href="https://www.youtube.com/channel/UCB041N3Na0uCCU8WT0X40Aw" target="_blank" class="mx-1" role="button"><i class="fab fa-youtube"></i></a>
          <!--
            <a href="#" class="mx-1" role="button"><i class="fab fa-linkedin-in"></i></a>
            <a href="#" class="mx-1" role="button"><i class="fab fa-pinterest"></i></a>
          -->

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-5 mb-4 mb-md-0">

          <img src="https://mdbootstrap.com/img/Others/screens1.png" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

      </div>
      <!--Grid row-->


    </section>
    <!--Section: Content-->
  </div>
{% endblock %}